* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: inline-block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main {
    max-width: 840px;
    padding: 1rem;
}

/* CREA EL LAYOUT MAIN + ASIDE UNO AL LADO DEL OTRO */
.content {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

aside {
    width: 20rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    padding: 1rem;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    text-shadow: 1px 1px 4px black;
}

aside img {
    width: 200px;
    height: auto;
    margin-top: 3rem;
}

.profile {
    float: right;
    margin: 0 0 1rem 1rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 10px;
}

/* BOX CLASS */
.box {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #333;
    background-color: #f3f3f3;
    color: #222;
}
